.button {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 5px;
	transition: all 0.5s ease;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
	transition: all 0.5s ease;
}
.primary:hover {
	background-color: var(--primary-hover);
}
.ghost {
	color: var(--primary);
	background-color: transparent;
	border: 2px solid var(--primary);
	transition: all 0.5s ease;
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.arrow {
	display: inline-block;
	margin-left: 10px;
	transition: all 0.5s ease;
}

.down {
	transform: rotate(90deg);
	transition: all 0.5s ease;
}
