@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&family=Roboto:ital,wght@0,300;0,500;0,900;1,300&display=swap');
/* font-family: 'Edu NSW ACT Foundation', cursive; */
/* font-family: 'Montserrat', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	background-color: beige;
}

a {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style: none;
}

:root {
	--font-family: 'Montserrat', sans-serif;
	--font-family2: 'Edu NSW ACT Foundation', cursive;
	--black: #3b434e;
	--green-light: #aeaeae;
	--gray: #a4a4a4;
	--gray-dark: #787d85;
	--white: rgb(245, 245, 204);
	--primary: #140342;
	--primary-hover: #08011a;
	--red: #be264c;
	--red-light: #dd5577;
	--green: #4cbe26;
	--green-light: #c8f8e4;
}
