.textarea {
	padding: 7px;
	color: var(--black);
	outline-color: var(--primary);
	border: none;
	background-color: var(--white);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	font-size: 16;
	line-height: 22px;
	border-radius: 5px;
	font-family: var(--font-family2);
	font-weight: 600;
	width: 100%;
}

.textarea::placeholder {
	color: var(--gray);
}
